#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: min(90vh, 100%); /* The board will take up the full width of its container */
  gap: 2px;
  background-color: #2e7d32; /* Dark green background */
  padding: 5px;
  border: 5px solid #1b5e20;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
}

.cell {
  width: 100%;
  padding-bottom: 100%; /* Maintains a square aspect ratio */
  position: relative;
  background-color: #81c784; /* Light green cells */
  transition: background-color 0.3s, transform 0.2s;
  color: black;
  font-size: 20px;
}

.cell > div {

  /* Flexbox properties to center content */
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
}

.valid-cell {
  width: 100%;
  padding-bottom: 100%; /* Maintains a square aspect ratio */
  position: relative;
  background-color: blue;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.valid-cell:hover {
  background-color: #a5d6a7;
  transform: scale(1.05);
}

.sidebar {
  width: 30%; /* Adjust the width as needed */
  padding: 20px; /* Optional: Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
} 

/* Styles for the container */
.app-container {
  display: flex;
  min-height: 100vh; /* Ensure the container takes at least the full viewport height */
  width: 100%;
}

.content {
  flex: 1;
  padding: 10px; /* Optional: Add padding */
  box-sizing: border-box;
}
